
.u-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.list {
    float: right;
    border-left:1px solid #bbb;
}

.list:last-child {
    border-right: none;
}

.list a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.list a:hover:not(.active) {
    background-color: #111;
}

.list a:hover {
    background-color:#367a38;
}

.active {
    background-color: #4CAF50;
}

.link:link {
    color: black;
    text-decoration: none;
}

.link:visited {
    color: black;
    text-decoration: none;
}

.link:hover {
    color:#4CAF50;
    text-decoration: none;
}

.link:active {
    text-decoration: none;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}