
.u-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.list {
    float: right;
    border-left:1px solid #bbb;
}

.list:last-child {
    border-right: none;
}

.list a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.list a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

