{%extends "main/home.html"%}
{% load static %}
{% block title %}
<title>Delete Account: "{{user}}"</title>
{% endblock title %}
{%block content%}
    <div class = "div-container" >
        <form method = "POST" name="delete_account_form">
            {% csrf_token %}
            <h1 style="text-align: center; font-size:30px; color: red">Delete Account</h1>
            
            <p1 style="float: left">Master Password:</p1>
            <input type="password" name="master_password">

            <input style = "background-color: red; width: 40%"type="submit" value="Permanently Delete Master Account">
        </form>
    </div>
{%endblock content%}
