{%extends "main/home.html"%}
{% load static %}
{% block title %}
<title>Create Account</title>
{% endblock title %}
{%block content%}
    {% for message in messages %}
        <div class="div-container">
            <h1>{{message}}</h1>
        </div>
        <br />
        <br />
    {% endfor %}
    <form method="POST" class = "div-container" style="text-align:centered; text-align:left">
        {% csrf_token %}
        <p1 style="font-size: 20px;">{{form.as_p}}</p1>
        <div >
            <input type="submit" value="Register">
        </div>
    </form>
{%endblock content%}
