{%extends "main/home.html"%}
{% load static %}
{% block title %}
<title>Saved Passwords: {{location}}</title>
{% endblock title %}
{%block content%}
    <div class="div-container">
        <div>
            <h1 class = "main-color" style="display:inline; position: relative;text-align: left">Name: </h1><h1 style="display:inline; word-wrap: break-word">{{location}}</h1>
        </div>
        <div>
            <br/>
            <h1 class = "main-color" style="display:inline;">Link: </h1><h1 style="display:inline; word-wrap: break-word">{{location.website_link}}</h1>
        </div>
        <div>
            <br/>
            <h1 class = "main-color" style="display:inline;">Username: </h1><h1 style="display:inline; word-wrap: break-word">{{location.website_username}}</h1>
        </div>
        <div>
            <br/>
            <h1 class = "main-color" style="display:inline;">Notes: </h1><h1 style="display:inline; word-wrap: break-word">{{location.website_notes}}</h1>
        </div>
        <div>
            {% if not confirmed%}
                <form method = "POST">
                    {% csrf_token %}
                    <h2 class = "main-color">Provide master password to view {{location}} password:</h2>

                    <input type="password" name = "password_field" name="Password">

                    <input type="submit" value="Submit">
                </form>
            {% endif %}
            <div>
                {% if confirmed %}
                    <br/>
                    <h1 class = "main-color" style="display:inline;">Password: </h1>
                    <h1 style="display:inline; word-wrap: break-word">{{decrypted}}</h1>
                {% else %}
                    <h1>{{message}}</h1>
                {% endif %}
            </div>
        </div>
    </div>
{%endblock content%}