{%extends "main/home.html"%}
{% load static %}
{% block title %}
<title>Saved Passwords: {{location}}</title>
{% endblock title %}
{%block content%}
    <div>
        <br/>
        <h1 style="display:inline; color: #4CAF50">Name: </h1><h1 style="display:inline;">{{location}}</h1>
    </div>
    <div>
        <br/>
        <h1 style="display:inline; color: #4CAF50">Link: </h1><h1 style="display:inline;">{{location.website_link}}</h1>
    </div>
    <div>
        <br/>
        <h1 style="display:inline; color: #4CAF50">Username: </h1><h1 style="display:inline;">{{location.website_username}}</h1>
    </div>
    <div>
        <br/>
        <h1 style="display:inline; color: #4CAF50">Notes: </h1><h1 style="display:inline;">{{location.website_notes}}</h1>
    </div>
    <div>
        <br/>
        <form method = "POST">
            {% csrf_token %}
            <h2 style="color: #4CAF50">Provide master password to view {{location}} password:</h2>

            <input type="password" name = "password_field" name="Password">

            <input type="submit" value="Submit">
        </form>
        <br/>
        <h1>{{password}}</h1>
    </div>
{%endblock content%}