{%extends "main/home.html"%}
{% load static %}
{%block content%}
    <div>
        <br/>
        <h1 style="display:inline; color: #4CAF50">Name: </h1><h1 style="display:inline;">{{location}}</h1>
    </div>
    <div>
        <br/>
        <h1 style="display:inline; color: #4CAF50">Link: </h1><h1 style="display:inline;">{{location.website_link}}</h1>
    </div>
    <div>
        <br/>
        <h1 style="display:inline; color: #4CAF50">Username: </h1><h1 style="display:inline;">{{location.website_username}}</h1>
    </div>
    <div>
        <br/>
        <h1 style="display:inline; color: #4CAF50">Notes: </h1><h1 style="display:inline;">{{location.website_notes}}</h1>
    </div>
{%endblock content%}