<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <main>
            <div>
                <p>Last login:</p>
                {{user.last_login}}
            </div>
            <form method='POST'>
                {% csrf_token %}
                {{form.as_p}}
                <p>Ok</p>
                <input type='submit' value='Save'/>
            </form>
        </main>
        <script src="" async defer></script>
    </body>
</html>