{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block title %}
        <title>Password Manager</title>
        {% endblock  %}
        <meta name="description" content="secure password manager.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Oxanium&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'CSS/style.css'  %}">
    </head>
    <body style="text-align: center; font-family: 'Oxanium';">
        <header>
            <ul class='u-list'>
                <li class ='list'style="float:left"><a class="active" href="{% url 'home' %}">Home</a></li>

                {% if user.is_authenticated %}
                    <li class ='list'><a href="{%url 'logout'%}">Logout</a></li>
                    <li class ='list'><a href="{% url 'create' %}">Add Password</a></li>
                {% else %}
                    <li class ='list'><a href="{%url 'login'%}">Login</a></li>
                    <li class ='list'><a href="{%url 'register'%}">Register</a></li>
                {% endif %}

                
                
            </ul>
        </header>
        <main>
            <section>
                {% block content %}
                
                    {% for row in location %}
                        <div>
                            <h1 style="text-align: center;"><a class='link' href = "{% url 'view' row.id %}">{{row}}</a></h1>
                        </div>
                        <br/>
                    {% endfor %}
                {% endblock content %}
            </section>
        </main>
        <footer>

        </footer>
        <script src="" async defer></script>
    </body>
</html>
